{% extends 'base.html' %}

{% block title %} Contact {% endblock %}

    {% block content %}
    
    <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card my-3"> <div class="card-body text-center"> 
                    <p>This website is under trial 本網站正在測試中</p>
                    <h4>Apply for an account for free 免費申請帳戶</h4>
                    <p>Email to 電郵至: <span id="email-link"></span></p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        // Bots can't read this easily
        const user = "phili.science";
        const domain = "gmail.com";
        const element = document.getElementById('email-link');
        element.innerHTML = `<a href="mailto:${user}@${domain}">${user}@${domain}</a>`;
    </script>

    {% endblock %}