<footer class="bg-dark p-4 ">
            <div class="d-flex justify-content-around d-md-none mb-3">
            <a href="FAQ.html"  class="btn btn-info me-3">
                <i class="fa-solid fa-clipboard-question"></i> FAQ
            </a> 
            <a href="#"  class=" btn btn-info me-3">
                Resources
            </a>
            <a href="#"  class="btn btn-info me-3">
                Opinion
            </a>
            </div>
            <p class="text-light text-center">
            Phil Academy <i class="fa-solid fa-copyright"></i> 2025
            </p>
        </footer> 