{% extends 'base.html' %}

{% block title %} Home {% endblock %}

    {% block content %}
  <div class="row">
    <div class="col-12">
{% if not current_user.is_authenticated %}
        <a class="btn btn-info m-2" href="/login">log in to have more access</a>
{% else %}
        <h4 class="fw-bold m-2">Welcome , {{ current_user.username }} . </h4>
{% endif %}
    </div>

        <div class="col-12 col-md-6">
            <div class="card m-2 p-2">
                <h3>HKDSE Physics Practices</h3>
                <a class="btn btn-primary m-3 p-1" href="/search">Search Practices</a>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card m-2 p-2">
                <h3>HKDSE M1 M2 Practices</h3>
                <p>coming soon!</p>
            </div>
        </div>
    </div>

    {% endblock %}