{% extends 'base.html' %}

{% block title %} Home {% endblock %}

    {% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if not current_user.is_authenticated %}
    <a class="btn btn-info m-5" href="/login">log in to have more access</a>
{% endif %}

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card m-2 p-2">
                <h3>HKDSE Physics Practices</h3>
                <a class="btn btn-primary w-100" href="/search">Search Practices</a>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card m-2 p-2">
                <h3>HKDSE M1 M2 Practices</h3>
                <p>coming soon!</p>
            </div>
        </div>
    </div>

    {% endblock %}