{% extends 'base.html' %}

{% block title %} Login {% endblock %}

    {% block content %}
    <div class="container p-2">
    <h4>LOG IN 登入</h4>
    <div class="d-flex justify-content-end">
        <a class="btn btn-info m-2" href="/contact">contact us for sign up</a>
    </div>
    <div class="container m-2">
        <form action="{{ request.full_path }}" method="POST">
        <div class="m-1">
            <label class="form-label">username:  </label>
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="m-1">
            <label class="form-label">    password:  </label>
            <input type="password" name="password" placeholder="Password">
        </div>        
        <button class="btn btn-primary m-2" type="submit">Login</button>
        </form>
    </div>
    </div>
    {% endblock %}