{% extends 'base.html' %}

{% block title %} Home {% endblock %}

    {% block content %}

    <h2>Search for topics</h2>
    <p>Practice Questions will be listed</p>
    <form action="/result" method="GET">
        <h3>Select topics you learnt:</h3>
        <div class="row m-1">
        {% for topic in all_topics %}
            <div class="col-6 col-md-4 p-2">
                <div class="card p-2">
                    <label>
                        <input type="checkbox" name="topic" value="{{ topic.id }}">{{topic.id}} {{ topic.name }}
                    </label>
                </div>
            </div>        
        {%  endfor  %}
        </div>
        <h3>Select your target level:</h3>
        <label>
            <input type="checkbox" name="level" value="3">3
        </label>
        <label>
            <input type="checkbox" name="level" value="4">4
        </label>
        <label>
            <input type="checkbox" name="level" value="5">5
        </label>
        <div class="mb-3">
            <label class="form-label d-block">Language / 語言:</label>
    
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="language" id="langEng" value="Eng" checked>
                <label class="form-check-label" for="langEn">English</label>
            </div>
    
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="language" id="langChi" value="Chi">
                <label class="form-check-label" for="langZh">中文 (Chinese)</label>
            </div>
        </div>
        <br>
        <button type="submit">Search</button>
    </form>
    {% endblock %}