{% extends 'base.html' %}

{% block title %} Home {% endblock %}

    {% block content %}

    <h2>Search for topics</h2>
    <p>Practice Questions will be listed</p>
    <form action="/result" method="GET">
        <h3>Select topics you learnt:</h3>
        <div class="row">
        {% for topic in all_topics %}
            <div class="card col-12 col-md-4 m-2 p-2">
                <label>
                    <input type="checkbox" name="topic" value="{{ topic.id }}">{{topic.id}} {{ topic.name }}
                </label>
            </div>        
        {%  endfor  %}
        </div>
        <h3>Select your target level:</h3>
        <label>
            <input type="checkbox" name="level" value="3">3
        </label>
        <label>
            <input type="checkbox" name="level" value="4">4
        </label>
        <label>
            <input type="checkbox" name="level" value="5">5
        </label>
        
        <br>
        <button type="submit">Search</button>
    </form>
    {% endblock %}