{% extends 'base.html' %}

{% block title %} Home {% endblock %}

    {% block content %}
<form action="/upload" method="POST" enctype="multipart/form-data">
    <label>Question pdf:</label>
    <input type="file" name="question_file" accept="application/pdf" required>
    
    <label>Answer pdf:</label>
    <input type="file" name="answer_file" accept="application/pdf" required>
    
    <label>Question Chinese pdf:</label>
    <input type="file" name="question_file_c" accept="application/pdf" required>
    
    <label>Answer Chinese pdf:</label>
    <input type="file" name="answer_file_c" accept="application/pdf" required>
    

    <label>Select Topics:</label>
    <div class="row m-1">
    {% for topic in all_topics %}
        <div class="col-12 col-md-4 p-2">
            <div class="card p-2">
                <input type="checkbox" name="topics" value="{{ topic.id }}">{{topic.id}} {{ topic.name }}
            </div>
        </div>
    {% endfor %}
    </div>

    <fieldset>
        <legend>Select Level:</legend>
    
        <input type="radio" id="beginner" name="level" value="3" checked>
        <label for="beginner">3</label><br>

        <input type="radio" id="intermediate" name="level" value="4">
        <label for="intermediate">4</label><br>

        <input type="radio" id="advanced" name="level" value="5">
        <label for="advanced">5</label>
    </fieldset>
    
    <button type="submit">Upload Practice</button>
</form>

    {% endblock %}